.ta-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--green-light);
    border-radius: 40px;
    width: 75dvw;
    height: 620px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 2rem;
    justify-content: space-between;
}


.ta-card-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 1rem;
    margin-left: 13rem; 
    gap: 2rem;
}

.card-img-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 7rem;
    margin: 1rem 1rem;
}
.card-img-container>img {
    width: 400px;
    height: 15rem;
    object-fit: cover;
    border-radius: 30px;
}

#ta-img2 {
    transform: translateX(6rem);
    position: absolute ;
    left: 16rem;
    top: 13rem;
    z-index: 2;
}
#ta-img1 {
    z-index: 1;
}

.card-text {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 0;
}

.card-title {
    font-size: 4.2rem;
    margin: .4rem auto;
    text-align: center;
}

.card-btn {
    margin-bottom: 1rem;
    height: 3rem;
    width: 8rem;
    border: 2px solid transparent;
    background-color: var(--green-dark);
    border-radius: 10px;
    transition: 0.3s ease;
}

.card-btn:hover {
    border: 2px solid var(--green-dark);
    background-color: var(--blue-active);
    cursor: pointer;
}


.swiper-slide {
    background-color: transparent;
    height: fit-content;
    border-radius: 40px;
}

.swiper-slide:hover {
    cursor: grab;
}

.swiper-slide:active {
    cursor: grabbing;
}

.swiper-pagination-bullet {
    height: 1.1rem;
    width: 1.1rem;
}

.swiper-pagination {
    margin-top: 1rem;
    position: relative;
    height: auto;
}

.card-list .ta-card {
    user-select: none;
    text-decoration: none;
}

.card-list {
    padding: 0;
}


@media only screen and (max-width: 1200px) {
    .ta-card {
        width: 80dvw;
        flex-direction: column;
        height: 80dvh;
    }
    .card-img-container {
        margin: 0 0;
    }
    #ta-img1 {
        display: none;
    }
    #ta-img3 {
        display: none;
    }
    #ta-img2 {
        position: relative;
        transform: none;
        top: 0;
        left: 0;
        max-width: 100%;
        height: 100%;
        aspect-ratio: 12 / 9;
    }
    .ta-card-right {
        margin: 1rem auto;
        gap: .65rem;
        
    }
    .card-title {
        font-size: 2rem;
        margin: 0;
    }
    .card-text {
        font-size: .8rem;
        margin: 0;
    }
    .card-schedule {
        font-size: .9rem;
        text-align: center;
    }
    .card-btn {
        height: 2.4rem;
    }
}
