:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --green-dark: #a4cb6a;
  --green-active: #8fb655;
  --green-nav: #395214;
  --green-light: #dceac686;
  --blue-dark: #212245;
  --blue-active: #35366d;
  --blue-light: #64c6c4;
  --cream: #D9D9D9;
  --black: #000000;
  --white: #FFFFFF;
  --swiper-theme-color: #35366d;


  color-scheme: light dark;
  color: var(--blue-dark);
  box-sizing: border-box;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--green-dark);
  margin: 0;
  padding: 0;
  align-items: center; 
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}


li {
  list-style: none;
}

section {
  width: 90dvw;
  margin: 2rem auto;
}

#home {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column; 
  margin: 0 0;
  background-image: url(.\assets\hero3.jpeg);
  background-position: center;
  background-attachment: local;
  background-size: cover;
}
.hero-left {
  width: 45%;
  margin: 0 14rem;
}
.img-container {
  width: 55%;
  overflow-x: hidden;
  align-self:center
  
}
.img-container>img {
  display: none;
  width: auto;
  height: 98dvh;
  border-radius: 40px;
}
.logo-container {
  height: fit-content;
}
.logo-container>img {
  width: 500px;
}

.home-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav {
  transform: translateY(-80px);
}
.nav-link {
  font-size: 6rem;
  font-weight: 600;
  color: var(--blue-dark);
  transition: .4s ease;
  -webkit-text-stroke: 1.7px var(--blue-active);
  text-transform: capitalize;
}
.nav-link:hover {
  color: var(--green-dark);
  font-size: 7.4rem;
}


.section-title {
  font-size: 9rem;
  text-align: right;
  margin: 0 0;
  text-transform: capitalize;
}
.equi-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5rem;
  margin: 1rem 5rem;
}
.equi-container{
  align-content: center;
}
.equi-text {
  width: 30dvw;
  text-align: center;
  text-justify: distribute-all-lines;
  font-size: 1.8rem;
}
.eq-img-container>img{
  aspect-ratio: 3 / 2;
  margin: .5rem 0;
  height: 12rem;
  object-fit: cover;
  border-radius: 20px;
}
.eq-img-container {
  margin-bottom: 1rem;
}

.one{
  transform: translateX(20px);
}
.two{
  transform: translateX(-30px);
}
.thr{
  transform: translateX(10px);
}

.card {
    background-color: var(--green-light);
    border-radius: 40px;
    width: 75dvw;
    height: auto;
    box-sizing: border-box;
    padding: 2rem;
    justify-content: space-between;
    margin: 3rem auto;
    p{
      font-size: 2.1rem;
      margin: 3.5rem 7rem;
      text-align: center;
    }
}

#faq {
  height: auto;
}

#contactanos {
  height: auto;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1.5rem;
  padding: 4rem;
}

.footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .7s ease;
  color: var(--blue-dark);
  i{
    font-size: 130%
  }
}

.footer-item:visited {
  color: var(--blue-dark);
}

.footer-item:hover{
  cursor: pointer;
  font-size: 2rem;
}


